main h1 {
    margin-top: 3%;
    text-align: center;
    color: white;
}

.paddle {
    width: 50px;
    height: 10px;
}

canvas {
    position: absolute;
    left: 400px;
    top: 100px;
    width: 700px;
    height: 600px;
    background-color: rgb(66, 36, 28);
}

.score {
    position: absolute;
    color: white;
}